torch==1.13.1
torchvision==0.14.1
xformers==0.0.16
triton==2.0.0
diffusers==0.14.0
accelerate==0.15.0
albumentations==0.4.3
imageio==2.9.0
imageio-ffmpeg==0.4.2
omegaconf==2.3.0
einops==0.6.1
torch-fidelity==0.3.0
torchmetrics==0.11.4
transformers==4.25.1
bitsandbytes==0.35.4
decorator==5.1.1
clip
basicsr==1.4.2
kornia==0.5.8
opencv-python
tqdm
timm==0.6.7